<div class="jumbotron" id="admin_jumbotron">
  <h2><%= @user.profile.name %>'s Dashboard</h2>
  <h4><%= @user.profile.university %></h4>
  <h4><%= @user.profile.degree %></h4>
</div>

<div class="container">

	<% if @user.profile.blank? %>
		<%= link_to 'Create profile', new_profile_path, class: 'btn btn-primary' %>
	<% end %>
</div>	

<div class="container">
  <div class="row">
  <% @payments.each do |payment| %> 
    <div class="col-sm-6 col-md-4">	
      <div class="thumbnail">
         <img src="<%= payment.course.image %>">
        <div class="caption">
          <h3><%= link_to payment.course.code, course_path(payment.course.id)%></h3>
          <h4><%= payment.course.title %></h4>
          <h5><%= payment.course.university %> </h5>
          <img src="<%= payment.course.student_image%>" id="course_index_student_image" class="img-circle">
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>




