<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @video.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @video.duration %>
</p>

<p>
  <strong>Embed code:</strong>
  <%= @video.embed_code %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @video.topic %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
