
  <p id="notice"><%= notice %></p> 



<div class="jumbotron" id="search_background">
    <%= form_tag search_courses_path, method: :get, role: "search" do %>
      <p>   
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search courses"%>
        <%= submit_tag "Search", name: nil, class: "btn btn-primary", id: "submit_button" %>
      </p>  
     <% end %>
</div>  

<div class="container">  

  <div class="row">
  <% @courses.each do |course| %> 
    <div class="col-sm-6 col-md-4">
    <a href="/courses/<%= course.id%>">
      <div class="thumbnail">
         <img src="<%= course.image %>">
        <div class="caption">
          <h3><%= course.title %></h3>
          <h5><%= course.university %> </h5>
          <img src="<%= course.student_image%>" id="course_index_student_image" class="img-circle">
        </div>
      </div>
      </a>
    </div>
    <% end %>
  </div>


</div>
