<div class="container">

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10">
    <h2><%= @course.code %></h2>
    <h4><%= @course.title %></h4>
  </div>
  <div class="col-md-2">

  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Course Info</h4>
    <p><%= @course.description %></p>
  </div>
  <div class="col-md-6">
    <h4>Student Info</h4>
    <h5><%= @course.student_name %></h5>
    <p><%= @course.student_description %></p>
  </div>
</div>


<ul class="nav nav-tabs">
  <%= @topics.each do |topic| %>
    <li role="presentation"><a href="#"><%= topic.title%></a></li>
  <% end %>
</ul>


<div class="video">
<iframe width="853" height="480" src="https://www.youtube.com/embed/F-C6fCBy99w" frameborder="0" allowfullscreen></iframe>
</div>



</div>

