<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @university.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @university.country %>
</p>

<%= link_to 'Add Course', new_course_path(university: @university.id), class: "btn btn-primary" %>

<% @courses.each do |course| %>
	<h3><%= link_to course.title, course_path(course) %></h3>
<% end %>


<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
